// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table{
  margin:0px;
  padding:0px;
  width:50%;
  box-shadow:10px 10px 5px #888888;
  border:1px solid #000000;
  border-collapse:collapse;
  -moz-border-radius-bottomleft:0px;
  -webkit-border-bottom-left-radius:0px;
  border-bottom-left-radius:0px
}

td,th{
  border:1px solid black
}

